.btn-filtrar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid #e4e4e7;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 0.9rem;
  color: #a0a0a0;
  cursor: pointer;
}
.btn-filtrar i {
  font-size: 0.9rem;
}

.btn-filtrar:hover{
  background-color: #5459ea;
  color: #ffffff;
}
